<ion-content [fullscreen]="true">
  <br><br>
  <div style="text-align: center;">
    <img width="200" src="../assets/ShopFindy logo.png" alt="">
  </div>
  <ion-row>
    <ion-col size="12" >
  <br> <br>
  <ion-item style="width: 100%;" lines="none">
    <ion-input type="text" name="name"  placeholder="Business Name" [(ngModel)]="b_name">
    </ion-input>
   </ion-item>
   <ion-item style="width: 100%;" lines="none">
    <ion-input type="text" name="name"  placeholder="Email" [(ngModel)]="b_email">
    </ion-input>
   </ion-item>

   <ion-item style="margin-top: 7px;" lines="none">
    <ion-input type="number" name="mobile" placeholder="Mobile Number" [(ngModel)]="b_mono">
    </ion-input>
  </ion-item>
  <ion-item style="margin-top: 7px;" lines="none">
    <ion-input type="number" name="mobile" placeholder="Landline(optional)" [(ngModel)]="b_land">
    </ion-input>
  </ion-item>
<ion-item style="width: 100%;" lines="none">
    <ion-input type="password" name="name"  placeholder="Password" [(ngModel)]="b_pass">
    </ion-input>
   </ion-item>
      </ion-col>
      </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-padding">
        <button ion-button expand="block" color="primary" (click)="signup(b_name,b_email,b_mono,b_land,b_pass)"
        style="border-radius: 10px;width: 100%;margin: 0 auto;color: #fff;">Signup</button></ion-col></ion-row>
  
</ion-content>
