
<ion-content [fullscreen]="true">
  <swiper-container>
    <!-- <swiper-slide style="border: solid 5px #6e6b6a;">
      <img width="100" src="https://seeklogo.com/images/L/logo-com-hr-logo-5636A4D2D5-seeklogo.com.png" alt="">
      <h1 style="color: #0f0e12;">Welcome to ShopFindy</h1>
      <p>Welcome user</p>
      <p style="color: #6e6c6b;">
        Congratulations, your
        ShopFindy Account is
        completed. $20 will be
        deposited in your
        ShopFindy Cash Back
        Account (CBA)
        You can start shopping
        and immediately getting
        Cash Back.
      </p>
    
<br><br><br>
  <ion-button color="medium" fill="outline" routerLink="/accountcomplete">  
       <ion-icon name="person-outline" ></ion-icon> Complete Account
      </ion-button>
</swiper-slide> -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
    <swiper-slide style="border: solid 5px #6e6b6a;">
      <ion-header>
        <ion-toolbar color="dark">
          <ion-title>Congratulations!</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content class="ion-padding congratulation-page">
        <div class="congratulation-message">
          <img style="border-radius: 50%;" src="../../assets/giphy.gif" alt="Congratulations GIF" class="congratulation-gif">
          <h1 class="message">Congratulations!</h1>
          <p> Congratulations, your
            ShopFindy Account is
            completed. $20 will be
            deposited in your
            ShopFindy Cash Back
            Account (CBA)
            You can start shopping
            and immediately getting
            Cash Back.</p>
        </div>
      </ion-content>
      <ion-button color="primary" fill="outline" routerLink="/home">  
        <ion-icon name="home-outline" ></ion-icon>
       </ion-button>
 </swiper-slide>
 <!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
  </swiper-container>
</ion-content>